node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
coverage
**/coverage
.git
.github
.husky
.vscode
.idea
.DS_Store
*.log
.env
.env.local
.env.*.local
playwright-report
test-results
